version: '3.8'

services:
  bot:
    build: .
    container_name: telegram_bot
    environment:
      - PYTHONUNBUFFERED=1
    env_file:
      - .env
    volumes:
      - ./db:/app/db
    restart: unless-stopped
